<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @notification.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @notification.photo %>
</p>

<p>
  <strong>Service order:</strong>
  <%= @notification.service_order %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
